@media (max-height: 600px), (max-width: 600px) {
  #board {
    position: absolute;
    background-image: url('../images/board.svg');
    background-size: 64px 64px;
    width: 256px;
    height: 256px;
    left: calc(50% - 128px);
    top: calc(50% - 128px);
  }
}

@media (min-height: 600px) and (min-width: 600px) {
  #board {
    position: absolute;
    background-image: url('../images/board.svg');
    background-size: 140px 140px;
    width: 560px;
    height: 560px;
    left: calc(50% - 280px);
    top: calc(50% - 280px);
  }
}

.board-ai-turn {
  opacity: 0.5;
  pointer-events: none;
}

.board-piece {
  position: absolute;
  width: 12.5%;
  height: 12.5%;
  background-size: 100% 100%;
}

.board-piece-player1 {
  background-image: url('../images/player1_piece.svg');
}

.board-piece-player2 {
  background-image: url('../images/player2_piece.svg');
}

.board-piece-player1-king {
  background-image: url('../images/player1_king.svg');
}

.board-piece-player2-king {
  background-image: url('../images/player2_king.svg');
}
